<mat-card class="form-card">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-row">
      <!-- Address -->
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput [formControl]="addressControl">
      </mat-form-field>
    </div>

    <div class="form-row">
      <!-- City -->
      <mat-form-field>
        <mat-label>City</mat-label>
        <input matInput [formControl]="cityControl">
      </mat-form-field>

      <!-- State -->
      <mat-form-field>
        <mat-label>State</mat-label>
        <mat-select [formControl]="stateControl">
          <mat-option *ngFor="let state of stateOptions" [value]="state.abbreviation">{{ state.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Submit button and error message -->
    <div class="form-row packed">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
      <span *ngIf="showFormError" class="form-error">An error occured, please try again later</span>
    </div>

  </form>
  <!-- Display of result data -->
  <div *ngIf="showResults" class="results">
    <hr>
    <h3 *ngIf="!results.length"><b>No results found, please try a new query</b></h3>
    <div *ngFor="let result of results; index as i" class="result">
      <h4 class="result-header">Result {{ i + 1 }}</h4>
      <p><b>1. Zip Code:</b> {{ result.zip }}</p>
      <p><b>2. Local Time:</b> {{ result.localTime }}</p>
      <p><b>3. Delivery Line One Reversed:</b> {{ result.deliveryLineOneRev }}</p>
      <p><b>4. Elapsed Time (ms):</b> {{ result.timeElapsedMs }}</p>
      <p><b>5. Latitude, Longitude:</b> {{ result.latLon }}</p>
      <p><b>6. Lowest num. < 50 by which Barcode is divisble:</b> {{ result.barcodeCalculation || 'None!' }} (Barcode is {{ result.barcode || 'not present' }})</p>
      <hr>
    </div>
  </div>
</mat-card>