html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #eeeeee;
    app-root {
        display: block;
        width: 100%;
    }
}

.form-card {
    @media(min-width: 0px) {
        margin: 2rem 5% 1rem 5%;
    }
    @media(min-width: 600px) {
        margin: 2rem auto 1rem auto;
        max-width: 70rem;
    }
    max-width: 100%;
    .form-header {
        padding: 20px;
        display: flex;
        justify-content: center;
        img {
            @media(min-width: 0px) {
                // max-width: 40%;
                max-width: 10rem;
                height: auto;
            }
            @media(min-width: 600px) {
                // max-width: 25%;
                max-width: 15rem;
                height: auto;
            }
        }
    }
    .results {
        margin-top: 20px;
        .result-header {
            font-weight: bold;
            text-decoration: underline;
        }
    }
    .form-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &.packed {
            justify-content: unset;
        }
        mat-form-field {
            flex-grow: 1;
            max-width: 30rem;
            padding-left: 20px;
            padding-right: 20px;
        }
        button {
            margin-left: 20px;
        }
        .form-error {
            margin-left: 10px;
            border-bottom: 2px red solid;
            color: red;
        }
    }
}